page-landing {
  .slide-content > h2{
     font-family: 'Montserrat-Black' !important;
     color: map-get($colors, primary);
  }
  .slide-content > p {
     font-family: 'Montserrat' !important;
     color: map-get($colors, dark);
  }
  .slide-content > img {
     width: 300px;
     height: 300px;
  }
  .slide-content > button{
     font-family: 'Montserrat-Bold' !important;
     
  }
}
