<!--
  Generated template for the EventModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="twitter">
    <ion-buttons left>
      <button ion-button icon-only (click)="return();">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="eventInfo" class="bg-color">


  <ion-card color="primary">
    <img src="{{eventInfo.poster_url}}" (error)="errorImage()" />
    <ion-card-content>
      <ion-card-title class="font-bold">
        {{eventInfo.name}}
      </ion-card-title>

      <p>
        Date: {{eventInfo.date}} <br>
        Location: {{eventInfo.location}} <br>
        Description: {{eventInfo.description}}

      </p>
      <ion-row>
        <ion-col col-4>
          <button color="light" ion-button icon-start clear small (click)="like()">
            <ion-icon [name]="eventInfo.icon"></ion-icon>
            <div>{{eventInfo.likes_counter}}</div>
          </button>
        </ion-col>
        <ion-col col-4>
          <button color="light" ion-button icon-start clear small
            (click)="eventInfo.isCommentOpen = !eventInfo.isCommentOpen">
            <ion-icon name="text"></ion-icon>
            <div>{{eventInfo.comments_counter}}</div>
          </button>
        </ion-col>
        <ion-col col-4>
          <button class="font-bold" color="light" ion-button icon-start clear small (click)="share(eventInfo);">
            <ion-icon name="paper-plane"></ion-icon>
            <div>Share</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>









  <ion-list *ngIf="eventInfo.isCommentOpen" no-margin>
    <div *ngFor="let comment of eventInfo.comments">
      <ion-item color="secondary" no-margin no-lines>
        <ion-avatar item-start>
          <img [src]="comment.dp_path">
        </ion-avatar>
        <h2 class="font-bold">{{comment.name}}</h2>
        <p text-wrap style="font-size:.8em" class="font-regular"> {{comment.comment}}</p>

        <ion-note class="font-regular" color="light" style="font-size:.6em" item-end>
          {{durationLastOnline(comment.timestamp)}} ago
        </ion-note>
        <button color="light" ion-button clear item-end icon-start small
          *ngIf="userData && comment.user_id == userData.id" (click)="showPopover(comment, $event);">
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-item>
    </div>


  </ion-list>






</ion-content>

<ion-footer>
  <ion-item *ngIf="eventInfo.isCommentOpen" color="twitter">
    <ion-input placeholder="Type a comment" #message></ion-input>
    <button ion-button clear item-right (click)="sendComment(eventInfo, message.value)" class="font-bold"
      color="light">Send</button>
  </ion-item>
</ion-footer>