<div *ngIf="showSplash" class="splash">
  <div class="sk-cube-grid">
    <div class="sk-cube sk-cube1"></div>
    <div class="sk-cube sk-cube2"></div>
    <div class="sk-cube sk-cube3"></div>
    <div class="sk-cube sk-cube4"></div>
    <div class="sk-cube sk-cube5"></div>
    <div class="sk-cube sk-cube6"></div>
    <div class="sk-cube sk-cube7"></div>
    <div class="sk-cube sk-cube8"></div>
    <div class="sk-cube sk-cube9"></div>
  </div>
</div>

<ion-menu [content]="content" (ionOpen)="refreshUserData();">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-item *ngIf="user_data" color="primary" no-lines>
        <ion-avatar item-start>
          <img src="{{user_data.dp_path}}">
        </ion-avatar>
        <h2 style="font-family: 'Montserrat-Black' !important">{{user_data.name}}</h2>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content padding id="main">
    <ion-list>
      <ion-item color="secondary" no-lines menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}" item-start></ion-icon>
        <ion-label>{{p.title}}</ion-label>
      </ion-item>




      <hr style="background: white;">

      <ion-item no-lines color="secondary" menuClose ion-item (click)="openFbPage();">
        <ion-icon name="logo-facebook" item-start></ion-icon>
        Facebook Page
      </ion-item>

      <ion-item no-lines color="secondary" menuClose ion-item (click)="openGcPage();">
        <ion-icon name="help" item-start></ion-icon>
        About Us
      </ion-item>

      <ion-item no-lines color="secondary" menuClose ion-item (click)="logout();">
        <ion-icon name="log-out" item-start></ion-icon>
        Logout
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>